body{
    font-family: Montserrat;
    font-size: 32px;
    background-color:rgb(59, 56, 56);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: 'NinjaNaruto';
    src: url('styles/fonts/njnaruto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main{
    flex: 1;
}

h1 {
    position: absolute;
    right: 160px;
}

header{
    font-family: 'NinjaNaruto', sans-serif;
    font-style: normal;
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #B7694D;
    color: #493731;
    text-shadow:
        2px 2px 4px rgba(205, 203, 203, 0.6);
}

header img{
    width: 100px;
    margin-left: 24px;
    margin-right: 16px;
}

footer{
    display: flex;
    background-color:#B7694D;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 30px;
}

footer img{
    width: 60px;
    height: 60px;
    margin-right: 16px;
    margin-bottom: 18px;
}

/* ======================
   CANVAS
   ======================*/
canvas{
    background-color: black;
    border: 10px solid #B7694D;
    border-radius: 8px;
    display: none;

    /* normales Verhalten */
    max-width: 100%;
    height: auto;
}

/* ===========================
   FULLSCREEN FIX
   =========================== */

/* Header & Footer im Fullscreen ausblenden */
:fullscreen header,
:fullscreen footer {
    display: none;
}

/* kein Scrollen im Fullscreen */
:fullscreen body {
    overflow: hidden;
}

/* Canvas-Container nimmt gesamten Screen ein */
:fullscreen #canvas-box {
    height: 100vh;
}

/* Canvas skaliert komplett hoch,
   behält 720x480 Seitenverhältnis */
:fullscreen canvas {
    height: 100vh;  /* volle Höhe */
    width: auto;    /* Breite proportional */
    max-width: none;
    max-height: none;
}

/* ======================================= */

#control{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    background-color: #b7694dec;
    border-radius: 10px;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    z-index: 1000;
    display: none;
}

.control-headline{
    background-color: #473631;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NinjaNaruto', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    height: 64px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.controls{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.controls span{
    padding: 12px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.control-button{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
}

.control-button p{
    display: flex;
    justify-content: center;
    height: auto;
}

.control-button-style{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
}

.control-button-style button{
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 24px;
    max-height: 52px;
}

.control-button-style img{
    width: 30px;
    filter:invert()
}

.control-container{
    padding-top: 16px;
    font-family: 'NinjaNaruto', sans-serif;
    font-style: normal;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu-button{
    display: flex;
    justify-content:center;
    padding: 16px;
}

.menu-button button{
    margin: 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 106.8px;
    background-color: #B7694D;
}

.signature{
    font-family: "Kalam";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: rgb(221, 221, 221);
}

.under-signature{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: rgb(192, 192, 192);
    margin-bottom: 16px;
}

#canvas-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    background-image: url('img/index/background.jpg');
    background-size: cover;
    background-position: center;
}

/* Startoverlay */
#startoverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #b7694dec;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'NinjaNaruto', sans-serif;
    z-index: 1000;
}

#story{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    background-color: #b7694dec;
    border-radius: 10px;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    z-index: 1000;
    display: none;
}

.story-headline{
    background-color: #473630;
    color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'NinjaNaruto', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 36px;
    height: 64px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.background-story{
    padding-right: 64px;
    padding-left: 64px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.background-story p{
    margin-bottom: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#impressum{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: #b7694dec;
    border-radius: 10px;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    z-index: 1000;
    display: none;
}

#impressum p{
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.impressum-button{
    background-color: transparent;
    text-decoration: underline;
}

.impressum-button:hover{
    background-color: transparent;
    color: rgb(59, 58, 58);
}

.email-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.email-link a{
    color: rgb(205, 203, 203);
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.email-link a:hover{
    color: rgb(57, 57, 57);
    text-decoration: none;
}

.sound-button{
    position: fixed;
    right: 8px;
    top:150px;
    display: none;
}

.sound-button img{
    width: 38px;
    background-color: rgba(18, 18, 18, 0.484);
    filter: invert();
    border-radius: 8px;
    padding: 6px;
}

.sound-button img:hover{
    cursor: pointer;
    background-color: rgba(18, 18, 18, 0.289);
}

#mute-btn{
    display: block;
}

.fullscreen-button{
    position: fixed;
    right: 8px;
    top:210px;
}

.fullscreen-button img{
    width: 38px;
    background-color: rgba(18, 18, 18, 0.484);
    filter: invert();
    border-radius: 8px;
    padding: 6px;
}

.fullscreen-button img:hover{
    cursor: pointer;
    background-color: rgba(18, 18, 18, 0.289);
}

/* Buttons */
button {
    background-color: #292929c6;
    color: #efefef;
    width: 200px;
    font-size: 20px;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #666;
}

/* === GAME OVER & WIN OVERLAY === */
#game-over-overlay,
#win-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 40%;
    background-color: #b7694dec;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    z-index: 1100;
}

#game-over-overlay h2,
#win-overlay h2 {
    margin-bottom: 20px;
    font-family: 'NinjaNaruto', sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.overlay-buttons{
    gap: 20px;
}
